$main_color:#BC926B;
$second_color:#9F292B;
$third_color:#EADC78;
$fourth_color: #FC7C88;
$fifth_color: #D3B59B;

$bg_color: #68503C;
// $base-color:(
//   default: $main_color,
//   primary: $second_color,
//   accent: $brand-accent
// );